html,body {
	height:100%;
}
h1 {
  font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
p {
  font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
header {	
	display:block;
	background-image: url(fondo_papel.jpg);
	padding:10px 0px;
}
section {
	width: 79%;
	background: #ccc;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
}

aside {
	float: right;
	border: 0px solid red;
	width: 19%;
	border: 0px solid red;
}
footer {
	position: relative;
	margin-top: -50px;
	height: 100px; 
	padding:5px 0px;
	clear: both;
	background: #286af0;
	text-align: center;
	color: #fff;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
figure {
	display: table; margin: 0 auto;
}
.menudesv {
  position: relative;
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  overflow: hidden;
  margin: 10px auto;
  background: #000;
  text-align:center;
}
.menudesv a {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #333;
  color: white;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.menudesv a {
  border-top: 0;
}
.menudesv a:first-child {
  border-top: 1px solid #333;
}
.marcav {
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 12.5%;
  background: orange;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menudesv a:hover {
  color: #000;
}
.menudesv a:nth-child(1):hover ~ .marcav {
top: 0%; 
}
.menudesv a:nth-child(2):hover ~ .marcav {
top: 12.5%; /* (100/nº elementos) * 1 */
}
.menudesv a:nth-child(3):hover ~ .marcav {
top: 25%; /* (100/nº elementos) * 2 */
}
.menudesv a:nth-child(4):hover ~ .marcav {
top: 37.5%; /* (100/nº elementos) * 3 */
}
.menudesv a:nth-child(5):hover ~ .marcav {
top: 50%; /* etc, etc */
}
.menudesv a:nth-child(6):hover ~ .marcav {
top: 62.5%; 
}
.menudesv a:nth-child(7):hover ~ .marcav {
top: 75%; 
}
.menudesv a:nth-child(8):hover ~ .marcav {
top: 87.5%; 
}
body {
  background: #999;
}